$size-map: (
    smallest: 150px,
    xsmall: 200px,
    small: 250px,
    medium: 300px,
    large: 350px,
    huge: 400px,
    responsive: 100%,
);

.cloaked-spirits {
    width: 1em;
    position: relative;
    aspect-ratio: 6 / 5;
    display: flex;
    align-items: flex-end;
}

@each $name, $size in $size-map {
    .cloaked-spirits--#{$name} {
        font-size: $size;
        @extend .cloaked-spirits;
    }
}

.ify {
    background: #f7ec7d;
    border-radius: calc((1 / 6) * 1em) calc((1 / 6) * 1em) 0 0;
    &__top {
        width: calc((1 / 3) * 1em);
        height: calc((1 / 3) * 1em);
        background: #aa445f;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    &__ball {
        width: calc((1 / 5) * 1em);
        height: calc((1 / 5) * 1em);
        background: #e38f66;
        border-radius: 50%;
    }
    &:nth-child(1),
    &:nth-child(3) {
        height: calc((1 / 2) * 1em);
    }
    &:nth-child(2) {
        height: 100%;
    }
    &:nth-child(2) &__top {
        background: #e38f66;
    }
    &:nth-child(2) &__ball {
        background: #aa445f;
    }
}
